/* ######### table highlighter- stars ######### */
/*
caption {
	background-color:#006633;
	color:#FFF;
}
*/
.RollOverTable thead td {
  font-weight: bold;
  color: #fff;
  background-color: #4e7ea6;
  padding-left: 5px;
  border: 1px solid #2e4d7b;
  text-align: center;
}

.RollOverTable td {
  padding: 6px;
}

.RollOverTable table {
  border-collapse: collapse;
}

.RollOverTable h1 {
  font-size: 1.3em;
  margin-bottom: 0;
}

.RollOverTable table, h1, p, #ads {
  margin-left: 3px;
}

.RollOverTable #ads {
  margin-top: 20px;
}

.row1 {
  background-color: #eaf0f3;
}

.row2 {
  background-color: #f3f8fa;
}

.tableRollOverEffect1 {
  background-color: #d9e2e6;
}

/* Section tablosunda selected row olarak kullanılır */
.tableRowClickEffect1 {
  background-color: #b9d0d6;
}

/* ######### table highlighter- end ######### */

/**
* Server Sort Styles
*/

.tableWidget thead td {
  /*font-weight:bold;*/
  color: #fff;
  background-color: #4e7ea6;
  /*padding-left:5px;*/
  /*border-left:1px solid #000;*/
  /*border-right:1px solid #000;*/

}

