/* print styles */

body { color: black; background: white; font-size:10px; }

a:link, a:visited {
	background: white;
	color: black;
	text-decoration: underline;
   	font-weight: bold;
}

h1, h2, h3 {
	background: white;
	color: black;
	padding-bottom: 1px;
   	border-bottom: 1px solid gray;
}

#DHTMLSuite_pane_south {display: none;}

#DHTMLSuite_pane_north {display: none;}

#DHTMLSuite_pane_west  {display: none;}

.DHTMLSuite_paneTabs table{ display:none; }

.DHTMLSuite_paneHeader { display:none; }

.DHTMLSuite_paneHeader .paneTitle{ display:none; }
