/* Table CSS - START */

table.standard caption, caption {
	font-weight:bold;
	color:#003366;
	font-style:italic;
	text-align:left;
}

table.standard {
	border-top: 1px solid #003366;
	border-bottom: 1px solid #003366;
}

table.standard th {
	background-color:#4e7ea6;
	color:#FFFFFF;
	padding-left:8px;
	padding-right:8px;
}

table.standard td {
	padding-left:8px;
	padding-right:8px;
}

table.standard td.row1 {
	background-color: #eaf0f3;
}

table.standard td.row2 {
	background-color: #f3f8fa;
}

table.standard tr.row1 {
	background-color: #eaf0f3;
}

table.standard tr.row2 {
	background-color: #f3f8fa;
}

/**************************************/


table.stdForm {
	border-top: 1px solid #c3d1d8;
	border-bottom: 1px solid #c3d1d8;
	background-color: white;
	color: navy;
}

table.stdForm td{
	padding-left:0;
	padding-right:5px;
	background-color:  #FAFAFA;/*#FAFAFA;*/
	text-align:left;
}

table.stdForm th{
	text-align:left;
}

/**************************************/

 /* Printable Table CSS - START */

table.printMod {
	border-top: 1px solid #003366;
	/* border-bottom: 1px solid #003366; */

}

table.printMod caption {
	font-weight:bold;
	color:#000;
	font-size:14px;
	font-style:italic;
	text-align:left;
}
	
table.printMod th {
	background-color:#eee;
	color:#000;
	border-bottom: 1px solid #003366;
	/*text-align:left;*/
}

table.printMod td {
	/*
	padding-left:8px;
	padding-right:8px;
	*/
	border-bottom: 1px solid #c7c7c7;
	font-size:11px;
}

table.printMod tr.nobottom {
	border-bottom:0;
}	

table.printMod td.nobottom {
	border-bottom:0;
}	


/*
table.printMod tr {
	border-bottom: 1px solid #003366;
}
*/

table.printMod td.row1 {
	background-color: #f7f7f7;
}

table.printMod td.row2 {
	background-color: #fff;
}

table.printMod tr.row1 {
	background-color: #f7f7f7;
}

table.printMod tr.row2 {
	background-color: #fff;
}


/**************************************/

/* grup  */
table.grpTable {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px;
}
