
form {
	/*padding: 10px;*/
	padding:0;
	margin:0;
	/*background-color: #FAFAFA;*/
	/*border: 1px solid #878177;	*/
}

fieldset {
	padding:5px 5px 5px 5px;
	border: 1px solid #eee;
	overflow: auto;
	margin-bottom:5px;
	margin-top:3px;
}

legend {
	padding:5px;
	margin:0;
	color: #888;
	font-size: .9em;
}

form table {
	border-collapse: collapse;
}

label {
	display: inline-block;
	margin: 0 9px 0 0;
	padding: 4px;
	min-width: 7em;
	background-color: #E2EBED;
	color: #333;
}

/* Style for invalid input */
.invalidInput{
	border:1px dotted #F00;
	padding:1px;
	/*
	padding-top:2px;
   	padding-bottom:2px;
	display:inline;
	*/
	display:compact;
	/*float:left;*/

}

/* Style for valid input */
.validInput{
	border:1px solid #FFF;
	padding:1px;
	display:inline;
	/*display:compact;*/
	/*float:left;*/
}

input, select, textarea, button {
	border: 1px solid #7f9db9;
}


input.button, input.submit, .actionbutton, button {
	border-radius: 2px;
  border-top-color: #7f9db9;
  border-left-color: #7f9db9;
	background-color: #bcd4f4;
  color: #000;
  height:20px;
}

